.reg{
    display: flex;
    color: #faf6f6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:fit-content;
     min-width:500px;
}
.content{
    display: flex;
    font-size: 30px;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    height:500px;
    width:500px;
    border-radius: 20px;
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    box-shadow: 5px 5px 20px #d0d0d0,
    -5px -5px 20px #459da3;
}
input{
    padding:15px;
    font-size:25px;
    border-radius: 7px;
    width:200px;
    margin-top: -12px;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-image: url(../assets/pexels-fotios-photos-1107717.jpg); */
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.res{
    display:flex;
}
.subbtn{
    height:50px;
    width:200px;
    font-size:25px;
    border-radius: 20px;
    margin-top: 80px;
    cursor:pointer;
}
.reg>h1{
    color:black;

}